@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, li
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.btn
{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 10px 10px !important;
}


p
{
    font-family: 'Work Sans', sans-serif;
}


.active
{
    color: green !important;
}

.carousel-item
{
    height: 550px;

}


.sBox
{
    background-color: white;
    padding: 15px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ddd;
    transition: 0.3s;
    border-radius: 5px;
}



.sBoxLink
{
    text-align: center;
    margin: 25px 0px;
}

.sBoxLink a 
{
    text-decoration: none;
    color: green;
    font-weight: 500;
}

.sBoxLink a i 
{
    margin-left: 5px;
    color: green;
}

.card-normal:hover
{
    cursor: pointer;
    background-color: green;
    border-color: green;
    transition: all 0.3s;
}

.card-normal:hover h5 
{
    color: white !important;
}

.card-normal:hover p
{
    color: white !important;
}

.card-normal:hover a
{
    color: white !important;
}

.card-normal:hover i
{
    color: white !important;
}

.card-active
{
    background-color: green !important;
    color: white !important;
    border-color: green;
}

.card-active h2 
{
    color: white;
}
.card-activee p 
{
    color: white;
}


.card-active a 
{
    color: white;
}
.card-active i 
{
    color: white !important;
}

.zoom-img
{
    width: 100%;
    transition: all 0.3s linear;

}

.zoom-img:hover
{
    transform: scale(1.1);
    cursor: pointer;

}


.team-box
{
    cursor: pointer;
    border-radius: 5px !important;
}

.team-box:hover .social-icons a:first-child
{
    transform: translateY(25px);
    opacity: 1;

}

.team-box:hover .social-icons a:nth-child(2)
{
    transform: translateY(25px);
    opacity: 1;

}

.team-box:hover .social-icons a:nth-child(3)
{
    transform: translateY(25px);
    opacity: 1;

}

.team-box:hover .social-icons a:last-child
{
    transform: translateY(25px);
    opacity: 1;

}


.social-icons
{
    width: 140px;
    position: absolute;
    bottom: 150px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons a
{
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    background-color: green;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    padding: 6px;
    color: white;
    float: left;
    margin: 3px;
    transition: 0.3s;

}

.social-icons a:first-child
{
    background-color: #3b5998;
    transition: .80s;
    opacity: 0;
}

.social-icons a:nth-child(2)
{
    background-color: #00acee;
    transition: .60s;
    opacity: 0;
}

.social-icons a:nth-child(3)
{
    background-color:  #db4a39;
    transition: .40s;
    opacity: 0;
}

.social-icons a:last-child
{
    background-color: #0072b1;
    transition: .20s;
    opacity: 0;
}

.social-icons a:hover
{
    background-color: white;
    color: #333;

}


